/* Colour palette
    #2F2F2F
    #094737
    #89B6AB
    #367B69
    #EFEFEF
*/


/* UNIVERSAL PROPERTIES */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: 'Oswald', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f5f5f5;
    color: #2F2F2F;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}

/* WELCOME BAR AND LANGAUGE SWITCHER */ 
.container-welcome-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #2F2F2F;
    margin: 0px -40px;
    
}

.container-welcome-bar a {
    color: #2F2F2F;
}

.language-nav li{
    display: inline-block;
    padding: 0px 5px
}

.language-nav li a {
    color: #2F2F2F;
}

/* PAGE HEADER WITH LOGO AND SEARCH BAR */

.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.navbar-header img{
    width: 350px;
}

.search{
    display: flex;
    position: relative;
    width: 20%;
}
.search-term{
    width: 100%;
    border: 3px solid #094737;
    border-right: none;
    width: 100%;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #094737;
}

.search-term:focus{
    color: #89B6AB;
}

.search-button{
    width: 30px;
    height: 20px;
    border: 1px solid #094737;
    background: #89B6AB;
    text-align: center;
    color: #2F2F2F;
    border-radius: 0 5px 0 5px;
    cursor: pointer;
    font-size: 20px;
}
    
/* NAVBAR */

nav ul{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   border: 3px solid #2F2F2F;
   border-radius: 50px;
   background-color: #2F2F2F;
}

    nav ul li{
        width: 100%;
        text-align: center;
        -webkit-transition: all 0.2;
        -moz-transition: all 0.2;
        -ms-transition: all 0.2;
        -o-transition: all 0.2;
        transition: all 0.2;

    }


        nav > ul > li > a {
            color: #EFEFEF;
            display: block;
            line-height: 48px;
            
            
        }

        nav > ul > li:hover{
            background-color: #094737;
            border-radius: 50px;
            
        }

        nav > ul > li:hover > a {
            color: #EFEFEF;
        } 




/* DROPDOWN MENU */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #2F2F2F;
    border-radius: 50px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgb(0,0, 0,0 0,2);
    
}

.dropdown-content a{
    color: #EFEFEF;
    padding: 12px 16px;
    display: block;
    text-align: center;
    
}

.dropdown-content a:hover{
    background-color: #094737;
    

}

.dropdown:hover .dropdown-content{
    display: block;
}

/* EMBEDDED VIDEO */

.we-protect-nature{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.we-protect-nature > h1{
    margin: 40px;
    font-weight: 600;
}

iframe{
    width: 1100px;
    height: 600px;
}

/* NEWS SECTION */
.news-header{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #EFEFEF;
    background-color: #367B69;
    margin: 0 -60px;

}

.news-container{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    background-color: #367B69;
    margin: 0px -60px;
    height: 500px;

}

.news-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #efefef;
    border-radius: 20px;
    margin: 10px;
}

.news-item-container h2{
    padding: 10px;

}
.news-item-container img{
    width: 200px;
}

.news-item-container p{
    width: 50%;
    text-align: center;
    line-height: 180%;
    
}

/* ENVIRONMENT PAGE */

.environment-header{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;

}

.environment-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin: 0px -60px;
    height: 500px;
    
}

.environment-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2F2F2F;
    margin: 10px;
}


.environment-item-container img {
    width: 400px;
    border: 2px solid #2F2F2F;
    border-radius: 20px;
    margin-top: 20px;
}


.environment-item-container p {
    width: 50%;
    text-align: center;
    line-height: 180%;
}


/* SPECIFIC ENVIRONMENT PAGES */
.biome-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.biome-img{
    display: flex;
    justify-content: center;
    height: 600px
}
.biome-img img{
    width: 100%;
    height: 90%;
    margin: 10px;
    border: 3px solid #2F2F2F;
    border-radius: 20px;
}

.biome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}

.biome-content {
    width: 50%;
    text-align:justify
}

.biome-text h2{
    margin: 20px;
}


.gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.gallery-container img{
    width: 400px;
    border: 2px solid #2F2F2F;
    border-radius: 20px;
}

/* ABOUT PAGE */

.about-h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.about-container{
    display: flex;
    flex-direction: row;
}

.about-container img{
    width: 800px;
    border-radius: 20px;
}

.about-container p{
    padding: 20px;
    margin: 20px;
}

/* CONTACT FORM */

form{
    padding: 10px;
    background-color: #094737;
    color: #EFEFEF;
}

.container-form{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}



input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 8px 16px;
}

#submit{
    background-color: #2F2F2F;
    color: #efefef;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    height: 40px;
    width: 80px;
}

#submit:hover{
    background-color:#367B69;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #efefef;
    margin: 0 -60px;
    margin-top: 5px;
    color: #EFEFEF;
    background-color: #2F2F2F;
    height: 250px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    padding: 6px;
    line-height: 200%;
}

.footer-item h3{
    text-decoration: underline;
}

.footer-item a {
    color: #EFEFEF;
}

